.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery canvas {
  width: 100% !important;
  height: 100% !important;
}
